<section class="benefit">
	<div class="container benefit__container">
		<div class="benefit__wrapper">
			<h2 class="title benefit__title">
				Оставайтесь дома,
				а мы позаботимся о еде

			</h2>
			<p class="benefit__text">
				У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо сейчас и
				получите скиидку!
			</p>
			<ul class="benefit__list">
				<li class="benefit__item benefit__item--watch">
					Быстрая доставка за 15 минут
				</li>
				<li class="benefit__item benefit__item--delivery">
					Вежливые курьеры
				</li>
				<li class="benefit__item benefit__item--shop">
					Более 500 заведений
				</li>
			</ul>
			<a class="button benefit__btn" href="#">Подробнее</a>
		</div>
	</div>
</section>