<section class="comment">
	<div class="container">
		<h2 class="title">Отзывы клиентов</h2>
		<div class="comment__list">
			<div class="comment__item">
				<div class="comment__review">
					<img class="comment__img" src="images/comment.jpg" alt="Фото Дарьи" width="300" height="300">
					<blockquote class="comment__content">
						SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
						приложение. Их
						доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
						однозначно
						рекомендую!
						<cite class="comment__author">
							Дарья
							<span class="comment__descr">Ценитель вкусной еды</span>
						</cite>
					</blockquote>
				</div>
			</div>
			<div class="comment__item">
				<div class="comment__review">
					<img class="comment__img" src="images/comment.jpg" alt="Фото Дарьи" width="300" height="300">
					<blockquote class="comment__content">
						SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
						приложение. Их
						доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
						однозначно
						рекомендую!
						<cite class="comment__author">
							Дарья
							<span class="comment__descr">Ценитель вкусной еды</span>
						</cite>
					</blockquote>
				</div>
			</div>
			<!-- 
			<div class="comment__item">
				<div class="comment__review">
					<img class="comment__img" src="images/comment.jpg" alt="Фото Дарьи" width="300" height="300">
					<blockquote class="comment__content">
						SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
						приложение. Их
						доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
						однозначно
						рекомендую!
						<cite class="comment__author">
							Дарья
							<span class="comment__descr">Ценитель вкусной еды</span>
						</cite>
					</blockquote>
				</div>
			</div>
			<div class="comment__item">
				<div class="comment__review">
					<img class="comment__img" src="images/comment.jpg" alt="Фото Дарьи" width="300" height="300">
					<blockquote class="comment__content">
						SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
						приложение. Их
						доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
						однозначно
						рекомендую!
						<cite class="comment__author">
							Дарья
							<span class="comment__descr">Ценитель вкусной еды</span>
						</cite>
					</blockquote>
				</div>
			</div>
			<div class="comment__item">
				<div class="comment__review">
					<img class="comment__img" src="images/comment.jpg" alt="Фото Дарьи" width="300" height="300">
					<blockquote class="comment__content">
						SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
						приложение. Их
						доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
						однозначно
						рекомендую!
						<cite class="comment__author">
							Дарья
							<span class="comment__descr">Ценитель вкусной еды</span>
						</cite>
					</blockquote>
				</div>
			</div>
			<div class="comment__item">
				<div class="comment__review">
					<img class="comment__img" src="images/comment.jpg" alt="Фото Дарьи" width="300" height="300">
					<blockquote class="comment__content">
						SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
						приложение. Их
						доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
						однозначно
						рекомендую!
						<cite class="comment__author">
							Дарья
							<span class="comment__descr">Ценитель вкусной еды</span>
						</cite>
					</blockquote>
				</div>
			</div>
			<div class="comment__item">
				<div class="comment__review">
					<img class="comment__img" src="images/comment.jpg" alt="Фото Дарьи" width="300" height="300">
					<blockquote class="comment__content">
						SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
						приложение. Их
						доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
						однозначно
						рекомендую!
						<cite class="comment__author">
							Дарья
							<span class="comment__descr">Ценитель вкусной еды</span>
						</cite>
					</blockquote>
				</div>
			</div>
			<div class="comment__item">
				<div class="comment__review">
					<img class="comment__img" src="images/comment.jpg" alt="Фото Дарьи" width="300" height="300">
					<blockquote class="comment__content">
						SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
						приложение. Их
						доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
						однозначно
						рекомендую!
						<cite class="comment__author">
							Дарья
							<span class="comment__descr">Ценитель вкусной еды</span>
						</cite>
					</blockquote>
				</div>
			</div>
			<div class="comment__item">
				<div class="comment__review">
					<img class="comment__img" src="images/comment.jpg" alt="Фото Дарьи" width="300" height="300">
					<blockquote class="comment__content">
						SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
						приложение. Их
						доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
						однозначно
						рекомендую!
						<cite class="comment__author">
							Дарья
							<span class="comment__descr">Ценитель вкусной еды</span>
						</cite>
					</blockquote>
				</div>
			</div> -->
		</div>
		<div class="comment__control-box">
			<div class="comment__arrows">
				<div class="comment__dots"></div>
			</div>
		</div>
	</div>
</section>