<section class="discard section">
	<div class="container">
		<h2 class="discard__title title">Акции и скидки</h2>
		<ul class="discard__list">
			<li class="discard__item">
				<article class="discard-card">
					<a class="discard__link" href="#">
						<img class="discard__img" src="images/restaurant/photo-1.jpg" alt="Фото пицци">
						<p class="discard__text">Скидка 50% на вторую пиццу</p>
					</a>
				</article>
			</li>
			<li class="discard__item">
				<article class="discard-card">
					<a class="discard__link" href="#">
						<img class="discard__img" src="images/restaurant/photo-1.jpg" alt="Фото пицци">
						<p class="discard__text">Скидка 50% на вторую пиццу</p>
					</a>
				</article>
			</li>
			<li class="discard__item">
				<article class="discard-card">
					<a class="discard__link" href="#">
						<img class="discard__img" src="images/restaurant/photo-1.jpg" alt="Фото пицци">
						<p class="discard__text">Скидка 50% на вторую пиццу</p>
					</a>
				</article>
			</li>
			<li class="discard__item">
				<article class="discard-card">
					<a class="discard__link" href="#">
						<img class="discard__img" src="images/restaurant/photo-1.jpg" alt="Фото пицци">
						<p class="discard__text">Скидка 50% на вторую пиццу</p>
					</a>
				</article>
			</li>

		</ul>
	</div>
</section>