<header class="header">
	<div class="container">
		<div class="header__wrapper">
			<nav class="header__nav">
				<a class="logo" href="#">
					<img class="logo__img header__img" src="images/icons/logo.svg" alt="Логотип Simple Food">
				</a>
				<ul class="header__list">
					<li class="header__item">
						<a class="link current" href="#">
							Главная
						</a>
					</li>
					<li class="header__item">
						<a class="link" href="#">
							Блюда
						</a>
					</li>
					<li class="header__item">
						<a class="link" href="#">
							Контакты
						</a>
					</li>
				</ul>
			</nav>
			<ul class="user-nav">
				<li class="user-nav__item">
					<button class="user-nav__btn">
						<svg class="user-nav__svg">
							<use xlink:href="images/sprite.svg#search"></use>
						</svg>

						<span class="sr-only">Кнопка поиска продукта</span>
					</button>
				</li>
				<li class="user-nav__item">
					<button class="user-nav__btn user-nav__btn--cart">
						<svg class="user-nav__svg">
							<use xlink:href="images/sprite.svg#cart"></use>
						</svg>
						<span class="user-nav__num">
							4
						</span>
						<span class="sr-only">Кнопка корзины</span>
					</button>
				</li>
			</ul>
			<button class="burger">
				<span class="burger__item"></span>
			</button>
			<button class="burger--filter">
				<span class="burger__item"></span>
			</button>
			<div class="mobile-menu">
				<div class="mobile-menu__wrapper">
					<a class="logo mobile-menu__logo" href="#">
						<img class="logo__img" src="images/icons/logo.svg" alt="Логотип Simple Food" width="200" height="39">
					</a>
					<button class="mobile-menu__burger">
					</button>
				</div>
				<div class="mobile-menu__content">
					<nav class="mobile-nav mobile-menu__nav">
						<ul class="mobile-nav__list">
							<li class="mobile-nav__item">
								<a class="link mobile-nav__link current" href="#">
									Главная
								</a>
							</li>
							<li class="mobile-nav__item">
								<a class="link mobile-nav__link" href="#">
									Блюда
								</a>
							</li>
							<li class="mobile-nav__item">
								<a class="link mobile-nav__link" href="#">
									Контакты
								</a>
							</li>
						</ul>
					</nav>
					<address class="mobile-address mobile-menu__address">
						<ul class="address__list">
							<li class="address__item mobile-address__item">
								<a href="#" class="address__link mobile-address__link address__link--location">
									ул. Т.Г.Шевченко, 1
								</a>
							</li>
							<li class="address__item mobile-address__item">
								<a href="tel:+380501112233" class="address__link mobile-address__link address__link--tel">
									380501112233
								</a>
							</li>
							<li class="address__item mobile-address__item">
								<a href="mailto:support@sfood.com"
									class="address__link mobile-address__link address__link--email">
									support@sfood.com
								</a>
							</li>
						</ul>
						<ul class="social mobile-address__social">
							<li class="social__item">
								<a class="social__link" href="#">
									<svg class="social__svg" width="9" height="21">
										<use xlink:href="images/sprite.svg#facebook"></use>
									</svg>
									<span class="sr-only">Перейти в Facebook</span>
								</a>
							</li>
							<li class="social__item">
								<a class="social__link" href="#">
									<svg class="social__svg" width="21" height="17">
										<use xlink:href="images/sprite.svg#twitter"></use>
									</svg>
									<span class="sr-only">Перейти в Twitter</span>
								</a>
							</li>
							<li class="social__item">
								<a class="social__link" href="#">
									<svg class="social__svg" width="19.5" height="19.5">
										<use xlink:href="images/sprite.svg#instagram"></use>
									</svg>
									<span class="sr-only">Перейти в Instagram</span>
								</a>
							</li>
						</ul>
				</div>
				</address>
			</div>
		</div>
	</div>
</header>