<section class="interesting section">
	<div class="container">
		<div class="interesting__box">
			<h2 class="title interesting__title">Вас может заинтересовать</h2>
			<div class="interesting__arrows"></div>
		</div>
		<ul class="interesting__list">
			<li class="interesting__item">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-1.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Чизбургер с листьями салата</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
			<li class="interesting__item">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-1.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Чизбургер с листьями салата</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
			<li class="interesting__item">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-1.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Чизбургер с листьями салата</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
			<li class="interesting__item">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-1.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Чизбургер с листьями салата</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
			<li class="interesting__item">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-1.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Чизбургер с листьями салата</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
			<li class="interesting__item">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-1.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Чизбургер с листьями салата</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
			<li class="interesting__item">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-1.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Чизбургер с листьями салата</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
			<li class="interesting__item">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-1.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Чизбургер с листьями салата</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
			<li class="interesting__item">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-1.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Чизбургер с листьями салата</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
		</ul>
		<div class="interesting__dots"></div>
	</div>
</section>