<section class="popular section">
	<div class="container">
		<h2 class="title popular__title">
			Популярные категории
		</h2>
		<ul class="filter">
			<li class="filter__item">
				<button class="filter__button" data-filter="all" type="button">
					<svg class="filter__svg">
						<use xlink:href="images/sprite.svg#burger"></use>
					</svg>
					Бургеры
				</button>
			</li>
			<li class="filter__item">
				<button class="filter__button" data-filter=".category-a" type="button">
					<svg class="filter__svg">
						<use xlink:href="images/sprite.svg#pizza"></use>
					</svg>
					Пицца
				</button>
			</li>
			<li class="filter__item">
				<button class="filter__button" data-filter=".category-b" type="button">
					<svg class="filter__svg">
						<use xlink:href="images/sprite.svg#sandwich"></use>
					</svg>
					Сендвичи
				</button>
			</li>
			<li class="filter__item">
				<button class="filter__button" data-filter=".category-c" type="button">
					<svg class="filter__svg">
						<use xlink:href="images/sprite.svg#asia"></use>
					</svg>
					Азиатская кухня
				</button>
			</li>
			<li class="filter__item">
				<button class="filter__button" data-filter=".category-d" type="button">
					<svg class="filter__svg">
						<use xlink:href="images/sprite.svg#dish"></use>
					</svg>
					Cеты
				</button>
			</li>
		</ul>
		<ul class="popular__content">
			<li class="popular__item mix category-a">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-1.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Чизбургер с листьями салата</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
			<li class="popular__item mix category-a">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-2.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Бифбургер</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
			<li class="popular__item mix category-a">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-3.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Бифбургер</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
			<li class="popular__item mix category-a">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-4.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Бифбургер</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
			<li class="popular__item mix category-c">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-5.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Бифбургер</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
			<li class="popular__item mix category-c">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-4.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Бифбургер</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
			<li class="popular__item mix category-a">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-1.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Бифбургер</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
			<li class="popular__item mix category-b">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-2.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Бифбургер</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
			<li class="popular__item mix category-a">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-2.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Бифбургер</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
			<li class="popular__item mix category-b">
				<article class="product-card">
					<a class="product-card__link" href="#">
						<img class="product-card__img" width="140" height="140" src="images/famous/slider-2.png"
							alt="бургер Бифбургер">
					</a>
					<div class="product-card__wrapper">
						<h3 class="product-card__title">Бифбургер</h3>
						<div class="product-car__inner">
							<span class="product-card__price">
								190
								<span class="currency">грн.</span>
							</span>
							<button class="button product-card__btn" type="button">В корзину</button>
						</div>
					</div>
				</article>
			</li>
		</ul>
		<a href="#" class="popular__link">Показать еще</a>
	</div>
</section>