<section class="promo section">
	<div class="container">
		<div class="promo__wrapper">
			<div class="promo__content">
				<h2 class="title promo__title">Скачайте мобильное приложение</h2>
				<p class="promo__text">
					Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном
					месте.
				</p>
				<div class="promo__inner">
					<a class="promo__link" href="#" style="background-image: url('images/appstore.png'); width: 120px;">
						<span class="sr-only">Скачать из AppStore</span>
					</a>
					<a class="promo__link" href="#" style="background-image: url('images/googleplay.png'); width: 135px;">
						<span class="sr-only">Cкачать из GooglePlay</span>
					</a>
				</div>
			</div>
			<img class="promo__img" src="images/app.jpg" alt="Фото праложения Simple Food" width="570" height="380">
		</div>
	</div>
</section>