<section class="product">
	<div class="container">
		<div class="product__wrapper">
			<div class="product-slider">
				<div class="product-slider__item">
					<a class="product-slider__link" href="images/product/burger.jpg" data-fancybox="gallery">
						<img class="product-slider__img" src="images/product/burger.jpg" alt="Чизбургер с листьями салата">
					</a>
				</div>
				<div class="product-slider__item">
					<a class="product-slider__link" href="images/product/burger.jpg" data-fancybox="gallery">
						<img class="product-slider__img" src="images/product/burger.jpg" alt="Чизбургер с листьями салата">
					</a>
				</div>
				<div class="product-slider__item">
					<a class="product-slider__link" href="images/product/burger.jpg" data-fancybox="gallery">
						<img class="product-slider__img" src="images/product/burger.jpg" alt="Чизбургер с листьями салата">
					</a>
				</div>
			</div>
			<div class="product__content">
				<h2 class="title product__title">Чизбургер с листьями салата</h2>
				<span class="star product__star" data-rateyo-rating="4" data-rateyo-read-only="true"></span>
				<span class="product__price">160 грн.</span>
				<form class="product__form">
					<div class="counter" data-counter>
						<button class="counter__button counter__button--minus" type="button"></button>
						<label class="counter__label">
							<input class="counter__input" name="counter" type="tel" value="1" disabled></input>
						</label>
						<button class="counter__button counter__button--plus" type="button"></button>
					</div>
					<button class="product__btn button" type="button">
						<svg class="product__svg">
							<use xlink:href="images/sprite.svg#cart"></use>
						</svg>
						Добавить в корзину
					</button>
				</form>
				<h3 class="product__descr-title">Доставка и оплата</h3>
				<ul class="product__descr-list">
					<li class="product__descr-item">Минимальная сумма заказа — 160 грн.</li>
					<li class="product__descr-item">Время доставки заказа — 80-140 мин.</li>
					<li class="product__descr-item">Оплата осуществляется только банковской картой.
					<li class="product__descr-item">Окончательная сумма заказа формируется после сбора товаров.</li>
				</ul>
				<a class="product__link" href="#">Подробнее</a>
			</div>
		</div>
	</div>
</section>