<section class="product-tabs">
	<div class="container">
		<div class="product-tabs__wrapper">
			<ul class="product-tabs__top">
				<li class="product-tabs__item">
					<a class="product-tabs__link active" href="#tab-1">Описание</a>
				</li>
				<li class="product-tabs__item">
					<a class="product-tabs__link" href="#tab-2">Характеристики</a>
				</li>
				<li class="product-tabs__item">
					<a class="product-tabs__link" href="#tab-3">Отзывы (2)</a>
				</li>

			</ul>
			<div class="product-tabs__content">
				<div class="product-tabs__tab product-descr active" id="tab-1">
					<p class="product-descr__text">
						Рубленый бифштекс из натуральной говядины на карамелизованной булочке,
						с ломтиком сыра «Чеддер», кетчупом, горчицей,
						луком и маринованными огурчиками.
					</p>
					<p class="product-descr__text">
						Аллергены: Глютен, Молоко, Горчица, Может содержать сою, яйцо, следы кунжута
					</p>
					<p class="product-descr__text">
						Внешний вид товара может отличаться от изображений, представленных на сайте.
					</p>
				</div>
				<div class="product-tabs__tab product-feature" id="tab-2">
					<ul class="product-feature__list">
						<li class="product-feature__item">
							<span class="product-feature__measure">Диаметр:</span>
							20 см
						</li>
						<li class="product-feature__item">
							<span class="product-feature__measure">Вес:</span>
							300 гр
						</li>
						<li class="product-feature__item">
							<span class="product-feature__measure">Калорийность (на 100г):</span>
							295 ккал
						</li>
						<li class="product-feature__item">
							<span class="product-feature__measure">Срок хранения:</span>
							до 3 дней
						</li>
					</ul>
				</div>
				<div class="product-tabs__tab product-review" id="tab-3">
					<h3 class="product-review__title">Мнения наших клиентов</h3>
					<ul class="product-review__list">
						<li class="product-review__item">
							<div class="product-review__wrapper">
								<div class="product-review__inner">
									<img class="product-review__img" src="images/avatar.jpg" alt="Фото клиента">
									<div class="product-review__info">
										<h4 class="product-review__name">Андрей</h4>
										<time class="product-review__time">10.06.2021</time>
									</div>
								</div>
								<div class="star" data-rateyo-read-only="true" data-rateyo-rating="5"></div>
							</div>
							<p class="product-review__text">
								Доставили быстро. Товар свежий и очень вкусный, буду пробовать
								еще!))
							</p>
						</li>
						<li class="product-review__item">
							<div class="product-review__wrapper">
								<div class="product-review__inner">
									<img class="product-review__img" src="images/avatar.jpg" alt="Фото клиента">
									<div class="product-review__info">
										<h4 class="product-review__name">Екатерина Белая</h4>
										<time class="product-review__time">7.06.2021</time>
									</div>
								</div>
								<div class="star" data-rateyo-read-only="true" data-rateyo-rating="4"></div>
							</div>
							<p class="product-review__text">
								этот бургер неплохой чтобы перекусить, когда нет возможности или времени что-нибудь приготовить.
								Это отличный вариант,
								чтобы съесть на ходу, но чтобы побаловать себя, я больше предпочту пиццу
							</p>
						</li>
					</ul>
					<h3 class="product-review__title">Оставить отзыв</h3>
					<form class="product-form" action="#">
						<div class="product-form__box">
							<span class="product-form__mark">Ваша оценка *</span>
							<span class="product-form__star star" data-rateyo-rating="4"></span>
						</div>
						<div class="product-form__base">
							<label class="product-form__textarea-label">
								Ваш отзыв *
								<textarea class="product-form__textarea" name="product-textarea"
									placeholder="Введите текст отзыва"></textarea>
							</label>
							<div class="product-form__input-box">
								<label class="product-form__input-label">
									Имя
									<input class="product-form__input" type="text" placeholder="Введите ваше имя">
								</label>
								<label class="product-form__input-label">
									Email *
									<input class="product-form__input" type="text" placeholder="youremail@mail.com">
								</label>
							</div>
						</div>
						<label class="product-form__save">
							<div class="product-form__save-box">
								<input class="input-invis product-form__save-input" type="checkbox">
								<span class="product-form__save-checkbox"></span>
							</div>
							<span class="product-form__save-text">
								Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.
							</span>
						</label>
						<button class="product-form__btn button">
							Оставить отзыв
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>