<section class="section restaurant">
	<div class="container">
		<h2 class="title">Лучшие рестораны</h2>
		<ul class="restaurant__list">
			<li class="restaurant__item">
				<article class="restaurant-card">
					<div class="restaurant__inner">
						<img class="restaurant-card__img" width="370" height="300" src="images/restaurant/photo-1.jpg"
							alt="Blaze Pizza">
						<h3 class="restaurant-card__title">Blaze Pizza</h3>
					</div>
					<div class="restaurant-card__wrapper">
						<time class="restaurant-card__time">11:00 - 22:00</time>
						<a class="restaurant-card__link" href="#">
							<svg class="restaurant-card__svg">
								<use xlink:href="images/sprite.svg#arrow-left"></use>
							</svg>
							<span class="sr-only">Узнать подробнее</span>
						</a>
					</div>
				</article>
			</li>
			<li class="restaurant__item">
				<article class="restaurant-card">
					<div class="restaurant__inner">
						<img class="restaurant-card__img" width="370" height="300" src="images/restaurant/photo-1.jpg"
							alt="Blaze Pizza">
						<h3 class="restaurant-card__title">
							Blaze Pizza
						</h3>
					</div>
					<div class="restaurant-card__wrapper">
						<time class="restaurant-card__time">11:00 - 22:00</time>
						<a class="restaurant-card__link" href="#">
							<svg class="restaurant-card__svg">
								<use xlink:href="images/sprite.svg#arrow-left"></use>
							</svg>
							<span class="sr-only">Узнать подробнее</span>
						</a>
					</div>
				</article>
			</li>
			<li class="restaurant__item">
				<article class="restaurant-card">
					<div class="restaurant__inner">
						<img class="restaurant-card__img" width="370" height="300" src="images/restaurant/photo-2.jpg"
							alt="Blaze Pizza">
						<h3 class="restaurant-card__title">Blaze Pizza</h3>
					</div>
					<div class="restaurant-card__wrapper">
						<time class="restaurant-card__time">11:00 - 22:00</time>
						<a class="restaurant-card__link" href="#">
							<svg class="restaurant-card__svg">
								<use xlink:href="images/sprite.svg#arrow-left"></use>
							</svg>
							<span class="sr-only">Узнать подробнее</span>
						</a>
					</div>
				</article>
			</li>
			<li class="restaurant__item">
				<article class="restaurant-card">
					<div class="restaurant__inner">
						<img class="restaurant-card__img" width="370" height="300" src="images/restaurant/photo-3.jpg"
							alt="Blaze Pizza">
						<h3 class="restaurant-card__title">Blaze Pizza</h3>
					</div>
					<div class="restaurant-card__wrapper">
						<time class="restaurant-card__time">11:00 - 22:00</time>
						<a class="restaurant-card__link" href="#">
							<svg class="restaurant-card__svg">
								<use xlink:href="images/sprite.svg#arrow-left"></use>
							</svg>
							<span class="sr-only">Узнать подробнее</span>
						</a>
					</div>
				</article>
			</li>
			<li class="restaurant__item">
				<article class="restaurant-card">
					<div class="restaurant__inner">
						<img class="restaurant-card__img" width="370" height="300" src="images/restaurant/photo-2.jpg"
							alt="Blaze Pizza">
						<h3 class="restaurant-card__title">Blaze Pizza</h3>
					</div>
					<div class="restaurant-card__wrapper">
						<time class="restaurant-card__time">11:00 - 22:00</time>
						<a class="restaurant-card__link" href="#">
							<svg class="restaurant-card__svg">
								<use xlink:href="images/sprite.svg#arrow-left"></use>
							</svg>
							<span class="sr-only">Узнать подробнее</span>
						</a>
					</div>
				</article>
			</li>
			<li class="restaurant__item">
				<article class="restaurant-card">
					<div class="restaurant__inner">
						<img class="restaurant-card__img" width="370" height="300" src="images/restaurant/photo-1.jpg"
							alt="Blaze Pizza">
						<h3 class="restaurant-card__title">Blaze Pizza</h3>
					</div>
					<div class="restaurant-card__wrapper">
						<time class="restaurant-card__time">11:00 - 22:00</time>
						<a class="restaurant-card__link" href="#">
							<svg class="restaurant-card__svg">
								<use xlink:href="images/sprite.svg#arrow-left"></use>
							</svg>
							<span class="sr-only">Узнать подробнее</span>
						</a>
					</div>
				</article>
			</li>
		</ul>
	</div>
</section>