<section class="top">
	<div class="container">
		<div class="top__wrapper">
			<h2 class="top__title title">Каталог продуктов</h2>
			<form class="top__form" action="#">
				<ul class="top__list">
					<button class="top__btn" type="button"></button>
					<li class="top__item">
						<select class="top__select" name="top__select-1">
							<option class="top__option" value="name">По названию</option>
							<option class="top__option" value="1">По названию</option>
							<option class="top__option" value="2">По названию</option>
							<option class="top__option" value="3">По названию</option>
						</select>
					</li>
					<li class="top__item">
						<select class="top__select" name="top__select-2">
							<option class="top__option" value="12">по 12</option>
							<option class="top__option" value="15">по 15</option>
							<option class="top__option" value="5">по 5</option>
							<option class="top__option" value="3">по 3</option>
						</select>
					</li>
				</ul>
			</form>
		</div>
	</div>
</section>